/src/MJHUri.hi
/src/MJHUri.o
/src/WikiSpidering.hi
/src/WikiSpidering.o
/.directory
/caching.db.old
/src/UrlCaching.hi
/src/UrlCaching.o
/FollowedLink.txt
/caching.db
/TimelineofLordByron.html
/TimelineofLordByronOut.html
/TimelineofLordByron_files/20px-Wiki_letter_w_cropped.svg.png
/TimelineofLordByron_files/40px-Edit-clear.svg.png
/TimelineofLordByron_files/load(1).php
/TimelineofLordByron_files/load(2).php
/TimelineofLordByron_files/load.php
/TimelineofLordByron_files/poweredby_mediawiki_88x31.png
/TimelineofLordByron_files/wikimedia-button.png
/src/testHXT2.hi
/src/testHXT2.o
/testHXT2
/.dist-buildwrapper/HaskellTesting.cabal
/.dist-buildwrapper/dist/build/autogen/Paths_HaskellTesting.hs
/.dist-buildwrapper/dist/build/autogen/cabal_macros.h
/.dist-buildwrapper/dist/dynamic_targets
/.dist-buildwrapper/dist/package.conf.inplace
/.dist-buildwrapper/dist/setup-config
/.dist-buildwrapper/src/.haskell_heapexpt.hs.bwinfo
/.dist-buildwrapper/src/.youcouldhaveinverted_monads.hs.bwinfo
/.dist-buildwrapper/src/testHXT2.hs
/.dist-buildwrapper/src/youcouldhaveinverted_monads.hs
/KingstonuponHullOut.html
/KingstonuponHullOut.xhtml
/ListofTimelinesOut.html
/Program1.dot
/Program1.pdf
/Program2.dot
/Program2.pdf
/good_links.txt
/.dist-buildwrapper/src/haskell_heapexpt.hs
/.dist-buildwrapper/src/pdt_test.hs
/.dist-buildwrapper/src/rwh_chap8.hs
/.dist-buildwrapper/Setup.hs
/.dist-buildwrapper/src/Main.hs
/.dist-buildwrapper/src/MonadTest1.hs
/.dist-buildwrapper/src/testXML.hs
/.settings/org.eclipse.core.resources.prefs
.gitold/
db01urlspidering.db
db02pageanalysis.db
.project
